<%= navigationBar(NavigationHelper::ADMIN_SURVIVOR_ENTRIES_BUTTON) %>

<div class='row-fluid'>
  <div class='span12 center'>
    <h3>Manage <%= @current_year %> Scoring Weeks</h3>
    <%= show_notice_as_alert(notice) %>

    <form action='/weeks' method='post'>
      <table class='table table-striped table-bordered table-condensed center'>
        <thead>
          <tr>
            <th>Number</th>
            <th>Start time</th>
          </tr>
        </thead>
      <% @weeks.each do |week| %>
        <tr class='tdselect'>
          <td><%= week.number %></td>
          <td><input class='input-xlarge center' type='datetime'
                     name=<%= "'weekstart" + week.number.to_s + "'" %> required 
                     value=<%= "'" + week.start_time.time.localtime.strftime("%m/%d/%Y %I:%M %p %Z") + "'" %>>
          </td>
        </tr>
      <% end %>
      </table>
      <p class='center'>
        <button class='btn btn-primary' name='save'>Update Weeks</button>
        <button class='btn' name='cancel'>Cancel</button>
      </p>
    </form>
  </div>
</div>
