
<% if @admin_function %>
  <%= navigationBar(NavigationHelper::ADMIN_USERS_BUTTON) %>
<% else %>
  <%= navigationBar(NavigationHelper::DASHBOARD_BUTTON) %>
<% end %>

<div class='row-fluid'>
  <div class='span12 center'>
    <h3><%= @user.first_name %>'s Survivor Dashboard</h3>
  </div>
</div>

<div class='row-fluid'>
  <div class='span12 center'>
    <br/>
    <%= show_notice_as_alert(notice) %>

    <div class='alert alert-info'>
      <strong>
        Please make sure all Week <%= @current_week.number.to_s %> picks are submitted by
        <%= @current_week.start_time.utc.in_time_zone.strftime("%-I:%M %p %Z on %A, %b ") + 
            @current_week.start_time.utc.in_time_zone.strftime("%-d").to_i.ordinalize %>! 
      </strong>
    </div>

    <div class='row-fluid'>
      <%= entries_bet_display(:survivor, @type_to_entry_map, @entry_to_bets_map, 6) %>
      <%= entries_bet_display(:anti_survivor, @type_to_entry_map, @entry_to_bets_map, 3) %>
      <%= entries_bet_display(:high_roller, @type_to_entry_map, @entry_to_bets_map, 3) %>
    </div>

    <p>
      <% if @type_to_entry_map.empty? && @before_season %>
        <h5>Welcome to Fisch Madness Survivor! Click the "Manage Entries" button below to create
            your entries!</h5>
        <img class='img_50_49 finger' src='/assets/downpointer.svg'><br/>
      <% end %>

      <% if @admin_function %>
        <%=
          link_to("Manage Entries", "/users/" + @user.id.to_s + "/entries",
                  class: 'btn btn-primary')
        %>
      <% else %>
        <%= link_to("Manage Entries", "/my_entries", class: 'btn btn-primary') %>
      <% end %>
    </p>
  </div>
</div>
