
<%= navigationBar(NavigationHelper::DASHBOARD_BUTTON) %>

<div class='row-fluid'>
  <div class='span12 center'>
    <h3><%= @user.first_name %>'s Survivor Dashboard</h3>
  </div>
</div>

<div class='row-fluid'>
  <div class='span12 center'>
    <br/>
    <%= show_notice_as_alert(notice) %>

    <div class='alert alert-info'>
      <strong>
        Please make sure all Week <%= @current_week.number.to_s %> picks are submitted by
        <%= @current_week.start_time.utc.in_time_zone.strftime("%-I:%M %p %Z on %A, %-m/%-d/%y") %>! 
      </strong>
    </div>

    <div class='row-fluid'>
      <!-- TODO Manage span sizes, depending on how many entries per type -->
      <%= entries_bet_display(:survivor, @type_to_entry_map, @entry_to_bets_map, 6) %>
      <%= entries_bet_display(:anti_survivor, @type_to_entry_map, @entry_to_bets_map, 3) %>
      <%= entries_bet_display(:high_roller, @type_to_entry_map, @entry_to_bets_map, 3) %>
    </div>

    <p>
      <% if @type_to_entry_map.empty? %>
        <h5>Welcome to Fisch Madness Survivor! Click the "Manage Entries" button below to create your entries!</h5>
        <img class='img_50_49 finger' src='/assets/downpointer.svg'><br/>
      <% end %>
      <%= link_to("Manage Entries", "/my_entries", class: 'btn btn-primary') %>
    </p>
  </div>
</div>
