
<% if @admin_function %>
  <%= navigationBar(NavigationHelper::ADMIN_USERS_BUTTON) %>
<% else %>
  <%= navigationBar(NavigationHelper::DASHBOARD_BUTTON) %>
<% end %>

<div class='row-fluid'>
  <div class='span12 center'>
    <h3><%= @user.first_name %>'s Survivor Dashboard</h3>
  </div>
</div>

<div class='row-fluid'>
  <div class='span12 center'>
    <br/>
    <%= show_notice_as_alert(notice) %>

    <div class='alert alert-info'>
      <strong>
        Deadline for Week <%= @current_week.number.to_s %> picks:
        <%= @current_week.start_time.utc.in_time_zone.strftime("%-I:%M %p %Z on %A, %b ") + 
            @current_week.start_time.utc.in_time_zone.strftime("%-d").to_i.ordinalize %><br/>
        <%
          time_diff = TimeDifference.between(@current_week.start_time.utc.in_time_zone, Time.now)
          days = time_diff.in_days.floor
          hours = (time_diff.in_hours - (days * 24)).floor
          minutes = (time_diff.in_minutes - (days * 24 * 60) - (hours * 60)).floor
          seconds =
              (time_diff.in_seconds - (days * 24 * 3600) - (hours * 3600) - (minutes * 60)).floor
        %>
        Time remaining: <%= days.to_s + " " + ((days == 1) ? "day" : "days") + ", " +
                            hours.to_s + " " + ((hours == 1) ? "hour" : "hours") + ", " +
                            minutes.to_s + " " + ((minutes == 1) ? "minute" : "minutes") + ", " +
                            seconds.to_s + " " + ((seconds == 1) ? "second" : "seconds") %>
      </strong>
    </div>

    <% if entries_missing_picks_for_week(@current_week.number) %>
      <div class='alert alert-warning'>
        <strong>
          Entries missing picks for Week <%= @current_week.number.to_s %> are highlighted in yellow! 
        </strong>
      </div>
    <% end %>

    <div class='row-fluid'>
      <%= entries_bet_display(:survivor, @type_to_entry_map, @entry_to_bets_map, 6) %>
      <%= entries_bet_display(:anti_survivor, @type_to_entry_map, @entry_to_bets_map, 3) %>
      <%= entries_bet_display(:high_roller, @type_to_entry_map, @entry_to_bets_map, 3) %>
    </div>
    <div class='row-fluid'>
      <%= entries_bet_display(:second_chance, @type_to_entry_map, @entry_to_bets_map, 12) %>
    </div>
    
    <p>
      <% if @type_to_entry_map.empty? && @before_season %>
        <h5>Welcome to Fisch Madness Survivor! Click the "Manage Entries" button below to create
            your entries!</h5>
        <img class='img_50_49 finger' src='/assets/downpointer.svg'><br/>
      <% end %>

      <% if @admin_function %>
        <%=
          link_to("Manage Entries", "/users/" + @user.id.to_s + "/entries",
                  class: 'btn btn-primary')
        %>
      <% else %>
        <%= link_to("Manage Entries", "/my_entries", class: 'btn btn-primary') %>
      <% end %>
    </p>
  </div>
</div>
