<%= navigationBar(NavigationHelper::MY_ENTRIES_BUTTON) %>

<div class='row-fluid'>
  <div class='span12 center'>
    <h3><%= @user.first_name %>'s Survivor Entries</h3>
  </div>
</div>

<div class='row-fluid'>
  <div class='span12 center'>
    <br/>
    <form action='/my_entries' method='post'>
    <%= show_notice_as_alert(notice) %>
    
    <div class='row-fluid'>
      <%= entries_selector(:anti_survivor, @type_to_entry_map, 3, @before_season) %>
      <%= entries_selector(:survivor, @type_to_entry_map, 6, @before_season) %>
      <%= entries_selector(:high_roller, @type_to_entry_map, 3, @before_season) %>
    </div>
    <% if @before_season %>
      <p class='center'>
        <button class='btn btn-primary' name='save'>Update Entry Counts</button>
        <button class='btn' name='cancel'>Cancel</button>
      </p>
    <% end %>
    </form>
  </div>
</div>
