<%= navigationBar(NavigationHelper::MY_ENTRIES_BUTTON) %>

<div class='row-fluid'>
  <div class='span2 center nexttoh1'>
    <a href='/my_entries' class='btn btn-inverse'>My Entries</a>
  </div>
  <div class='span8 center'>
    <h3><%= @user.first_name + "'s " + @survivor_entry.type_title %> 
        #<%= @survivor_entry.entry_number.to_s %></h3>
  </div>
  <div class='span2 center nexttoh1'>
    <a href=<%= "'/" + @survivor_entry.game_type.to_s + "'" %> class='btn btn-inverse'>
      <%= @survivor_entry.type_title %>
    </a>
  </div>
</div>

<div class='row-fluid'>
  <div class='span7 center'>
    <%= show_notice_as_alert_with_class_string(notice, "alert-top-margin") %>
    <form action='/save_entry_bets' method='post'>
      <h4><%= @survivor_entry.type_title %> Picks</h4>
      <%= display_update_picks_buttons(@survivor_entry) %>
      <%= entry_bets_table(@survivor_entry, @selector_to_bet_map, @week_team_to_game_map,
                           @nfl_teams_map) %>
      <input type='hidden' name='id' value=<%= "'" + @survivor_entry.id.to_s + "'" %> />
      <%= display_update_picks_buttons(@survivor_entry) %>
    </form>
  </div>

  <div class='span5 center'>
    <h4>NFL Schedule</h4>
    <!-- TODO weekly schedule w/ week dropdown that loads async -->
  </div>
</div>

</form>
