<%= navigationBar(NavigationHelper::MY_ENTRIES_BUTTON) %>

<div class='row-fluid'>
  <div class='span2 center nexttoh1'>
    <a href='/dashboard' class='btn btn-inverse'>Dashboard</a>
  </div>
  <div class='span8 center'>
    <h3><%= @user.first_name + "'s " + @survivor_entry.type_title %> 
        #<%= @survivor_entry.entry_number.to_s %></h3>
  </div>
  <div class='span2 center nexttoh1'>
    <a href=<%= "'/" + @survivor_entry.game_type.to_s + "'" %> class='btn btn-inverse'>
      <%= @survivor_entry.type_title %>
    </a>
  </div>
</div>

<div class='row-fluid'>
  <div class='span7 center'>
    <h4>My Picks</h4>
    <%= show_notice_as_alert_with_class_string(notice, "alert-top-margin") %>
    <label for='entry_chooser'>Select Entry: </label>
    <select id='entry_chooser'>
    <% @user_entries.each { |entry| %>
      <option value=<%= entry.id %>
              <%= ((entry.id == @survivor_entry.id) ? "selected" : "") %>>
        <%= entry.type_title + " " + entry.entry_number.to_s %>
      </option>
    <% } %>
    </select>
    <div id='picksform'></div>
  </div>

  <div class='span5 center'>
    <h4>NFL Schedule</h4>
    <label for='week_chooser'>Select Week: </label>
    <select id='week_chooser' class='input-medium'>
    <% @weeks.each { |week| %>
      <option value=<%= week.number %>
              <%= (week.number == (@current_week + 1) ? "selected" : "") %>>
        Week <%= week.number %>
      </option>
    <% } %>
    </select>
    <div id='schedresults'></div>
  </div>
</div>
</form>

<script type="text/javascript">
  // Loads the bets selection page for the selected entry asynchronously & populates the picksform
  // div with the results
  function entry_bets_ajax() {
    $.ajax({
      url: "/ajax/survivor_entries/" + document.getElementById("entry_chooser").value,
      success: function(data) {
        $("#picksform").html(data);
      }
    });
  }

  // Loads the nfl schedule week page asynchronously & populates the schedresults div with the
  // results
  function week_schedule_ajax() {
    $.ajax({
      url: "/ajax/nfl_schedule/week/" + document.getElementById("week_chooser").value,
      success: function(data) {
        $("#schedresults").html(data);
      }
    });
  }

  // On document ready, load the selected entry's bets and the selected week's schedule, and set the
  // selected data to be updated whenever the corresponding selectors are changed.
  $(document).ready(function() {
    entry_bets_ajax();
    $("#entry_chooser").change(function() {
      entry_bets_ajax();
    });

    week_schedule_ajax();
    $("#week_chooser").change(function() {
      week_schedule_ajax();
    });
  });
</script>
