<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="span7">
      <fieldset>
        <legend>User Settings</legend>
        <table class="table vertmiddle table-striped table-condensed table-bordered">
          <tr>
            <td><%= f.label :first_name %></td>
            <td><%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <td><%= f.label :last_name %></td>
            <td><%= f.text_field :last_name %></td>
          </tr>
          <tr>
            <td><%= f.label :email %></td>
            <td><%= f.text_field :email %></td>
          </tr>
        </table>
      </fieldset>
    </div>
    <div class="span5">
      <fieldset>
        <legend>Password Settings</legend>
      </fieldset>
      <table class="table vertmiddle table-striped table-condensed table-bordered">
        <tr>
          <td><%= f.label :password %></td>
          <td><%= f.password_field :password %></td>
        </tr>
        <tr>
          <td><%= f.label :password_confirmation %></td>
          <td><%= f.password_field :password_confirmation %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>&nbsp
    <input class='btn' name='cancel' type='submit' value='Cancel' />
  </div>

<% end %>
