<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="span6">
      <fieldset>
        <legend>User Settings</legend>
        <table class="table vertmiddle table-striped table-condensed table-bordered">
          <tr>
            <td><%= f.label :first_name %></td>
            <td><%= f.text_field :first_name, :required => true %></td>
          </tr>
          <tr>
            <td><%= f.label :last_name %></td>
            <td><%= f.text_field :last_name, :required => true %></td>
          </tr>
          <tr>
            <td><%= f.label :email %></td>
            <td><%= f.email_field :email, :required => true %></td>
          </tr>
          <% if @current_user && @admin_function && @current_user.is_admin %>
          <tr>
            <td><%= f.label :role %></td>
            <% if @admin_function && @current_user.is_admin && !@user.is_super_admin %>
              <td class='tdselect'>
                <select name='user[role]'>
                  <% User::ASSIGNABLE_ROLES[@current_user.role_type].each { |role| %>
                    <option value=<%= "'" + role.to_s + "'" %>
                            <%= @user.role == role .to_s ? "selected" : "" %>>
                      <%= role.to_s %>
                    </option>
                  <% } %>
                </select>
              </td>
            <% else %>
              <td><%= @user.role %></td>
            <% end %>
          </tr>
          <% end %>
          <% if @current_user %>
            <tr>
              <td><%= f.label :send_emails, "Email bet summaries" %></td>
              <td><%= f.check_box(:send_emails) %></td>
            </tr>
          <% end %>
          <tr class='tdselect'>
            <td><%= f.label :time_zone %>
            <td><%= f.time_zone_select("time_zone", ActiveSupport::TimeZone.us_zones) %></td>
          </tr>
        </table>
      </fieldset>
    </div>
    <div class="span6">
      <fieldset>
        <legend>Password Settings</legend>
      </fieldset>
      <table class="table vertmiddle table-striped table-condensed table-bordered">
        <tr>
          <td><%= f.label :password %></td>
          <td><%= f.password_field :password %></td>
        </tr>
        <tr>
          <td><%= f.label :password_confirmation %></td>
          <td><%= f.password_field :password_confirmation %></td>
        </tr>
        <% if @current_user.nil? %>
          <% if @captain_code_feature %>
            <tr>
              <td><%= f.label :captain_code %></td>
              <td><%= f.text_field :captain_code %></td>        
            </tr>
          <% else %>
            <tr>
              <td><%= f.label :referred_by, "If new participant, referred by" %></td>
              <td><%= f.text_field :referred_by %></td>
            </tr>
          <% end %>
        <% elsif @admin_function && @current_user.is_admin %>
         <tr>
          <td><%= f.label :captain_code %></td>
          <td><%= f.text_field :captain_code %></td>        
         </tr>
         <tr>
           <td><%= f.label :referred_by, "If new participant, referred by" %></td>
           <td><%= f.text_field :referred_by %></td>
         </tr>
        <% elsif @current_user.is_captain || @current_user.is_admin %>
          <tr>
            <td><%= f.label :captain_code %></td>
            <td><%= @user.captain_code %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <% if @current_user || @current_week == 0 %>
    <div class="actions">
      <%= f.submit class: 'btn btn-primary' %>&nbsp
      <% if @current_user %>
        <input class='btn' name='cancel' type='submit' value='Cancel' />
      <% else %>
        <a href='/' class='btn'>Cancel</a>
      <% end %>
      
      <% if @admin_function == true %>
        <input type=hidden name='admin_fxn' value='' />
      <% end %>
    </div>
  <% else %>
    <div class='alert alert-info'>
      <strong>Sorry! No new users can be created at this time. Check back later!</strong>
    </div>
  <% end %>
<% end %>
