
<%= navigationBar(NavigationHelper::DASHBOARD_BUTTON) %>

<div class='row-fluid'>
  <div class='span12 center'>
    <h3><%= @user.first_name %>'s Survivor Dashboard</h3>
  </div>
</div>

<div class='row-fluid'>
  <% # TODO If before season starts, show entries selected so far, broken down by type. %>
  <div class='span3 center'>
    <h4>Anti-Survivor</h4>
    <% 
      if @beforeSeason
        entries = entries_remaining(:anti_survivor, @type_to_entry_map)
        if entries > 0
      %>
          <p><%= link_to("Add entries!", "/my_entries", class: 'btn btn-primary') %></p>
          <p>(<%= entries %> remaining)</p>
      <% end %>
    <% end %>
  </div>
  <div class='span6 center'>
    <h4>Survivor</h4>
    <%
      if @beforeSeason
        entries = entries_remaining(:survivor, @type_to_entry_map)
        if entries > 0
      %>
          <p><%= link_to("Add entries!", "/my_entries", class: 'btn btn-primary') %></p>
          <p>(<%= entries %> remaining)</p>
      <% end %>
    <% end %>
  </div>
  <div class='span3 center'>
    <h4>High Roller</h4>
    <% 
      if @beforeSeason
        entries = entries_remaining(:high_roller, @type_to_entry_map)
        if entries > 0
      %>
          <p><%= link_to("Add entries!", "/my_entries", class: 'btn btn-primary') %></p>
          <p>(<%= entries %> remaining)</p>
      <% end %>
    <% end %>
  </div>
  <% # TODO If after season starts, show status of each entry. %>
</div>
