<%= navigationBar(NavigationHelper::ADMIN_USERS_BUTTON) %>

<div class='row-fluid'>
  <div class='span12 center'>
    <h3>Manage Users</h3>

    <table class=<%= "'" + ApplicationHelper::TABLE_CLASS + "'" %>>
      <thead><tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Send Emails</th>
        <th>Referred By</th>
        <th>Time Zone</th>
        <th></th>
        <th></th>
      </tr></thead>

    <% @users.each do |user| %>
      <% if user.is_confirmed %>
        <tr>
      <% else %>
        <tr class='red-row'>
      <% end %>
        <td><%= link_to(user.full_name, "/users/" + user.id.to_s + "/dashboard") %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.send_emails %></td>
        <td><%= user.referred_by %></td>
        <td><%= user.time_zone %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
