<%= navigationBar(NavigationHelper::ADMIN_USERS_BUTTON) %>

<div class='row-fluid'>
  <div class='span12 center'>
    <h3>Manage Users</h3>

    <table class=<%= "'" + ApplicationHelper::TABLE_CLASS + "'" %>>
      <thead class='rightborderme'><tr>
        <th></th>
        <th><%= sortable :email.to_s %></th>
        <th><%= sortable :first_name.to_s %></th>
        <th><%= sortable :last_name.to_s %></th>
        <th colspan=2><%= sortable :created_at.to_s %></th>
        <th><%= sortable :role.to_s %></th>
        <th><%= sortable(:send_emails.to_s, "Emails") %></th>
        <th><%= sortable :referred_by.to_s %></th>
        <th><%= sortable :time_zone.to_s %></th>
        <th colspan=2>Actions</th>
      </tr></thead>

    <% 
      user_count = 0
      @users.each do |user|
      user_count += 1
    %>
      <% if user.is_confirmed %>
        <tr>
      <% else %>
        <tr class='red-row'>
      <% end %>
        <td><%= user_count.to_s %></td>
        <td><%= link_to(user.email, "/users/" + user.id.to_s + "/dashboard") %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.created_at.utc.in_time_zone.strftime("%-m/%-d/%y") %></td>
        <td><%= user.created_at.utc.in_time_zone.strftime("%-I:%M %p") %></td>
        <td><%= user.role == :super_admin.to_s ? :admin : user.role %></td>
        <td><%= image_tag(user.send_emails ? "check.jpg" : "cross.jpg", class: "img_20_20") %></td>
        <td><%= user.referred_by %></td>
        <td><%= user.time_zone.split[0] %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
