<%= form_for(@survivor_bet) do |f| %>
  <% if @survivor_bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survivor_bet.errors.count, "error") %> prohibited this survivor_bet from being saved:</h2>

      <ul>
      <% @survivor_bet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :survivor_entry %><br />
    <%= f.text_field :survivor_entry %>
  </div>
  <div class="field">
    <%= f.label :week %><br />
    <%= f.number_field :week %>
  </div>
  <div class="field">
    <%= f.label :nfl_game %><br />
    <%= f.text_field :nfl_game %>
  </div>
  <div class="field">
    <%= f.label :nfl_team %><br />
    <%= f.text_field :nfl_team %>
  </div>
  <div class="field">
    <%= f.label :is_correct %><br />
    <%= f.check_box :is_correct %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
