<p id="notice"><%= notice %></p>

<p>
  <b>City:</b>
  <%= @nfl_team.city %>
</p>

<p>
  <b>Name:</b>
  <%= @nfl_team.name %>
</p>

<p>
  <b>Abbreviation:</b>
  <%= @nfl_team.abbreviation %>
</p>


<%= link_to 'Edit', edit_nfl_team_path(@nfl_team) %> |
<%= link_to 'Back', nfl_teams_path %>
